/* Day 5: Layout Basics */
/* Topics: Display Property, Flexbox Basics, Positioning (static, relative, absolute, fixed, sticky) */

*{
    margin: 0;
    padding: 0;
}

#red-box{
    height: 100px;
    background-color: red;
}

#blue-box{
    height: 100px;
    background-color:blueviolet;
}

#green-box{
    background-color: green;
}

#hotpink-box{
    background-color: hotpink;
}

.first{
    background-color: beige;
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
    margin: 40px;
}
.second{
    background-color: darkorange;
    border: 2px solid black;
    display: inline;
    padding: 20px;
}

.red{
    background-color: red;
    width: 100px;
    height: 100px;
    /* padding: 20px; */
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content:start;
    align-items: center;
    /* flex-wrap: wrap; */
}
.tomato{
    margin-top: 10px;
    width: 200px;
    background-color: khaki;
    padding: 20px;
    display: block;
    visibility:visible;
}