*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container{
    color: white;
    width: 580px;
    height: 230px;
    background-color:#212121;
    border-radius: 5px;
    padding:20px 20px 20px 40px;
}

.heading{
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
#yellow{
    color: #ffa703;
}
.para{
    margin-top: 10px;   
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form{
    margin-top: 20px;
}

.name{
    padding: 6px 14px 6px 14px;
    width: 120px;
    display: inline-block;
}
.email{
    margin-top: 5px;
    padding: 6px 14px 6px 14px;
    width: 244px;
    display:inline-block;
}
#submit{
    margin-top: 5px;
    padding: 6px 14px 6px 14px;
    width: 210px;
    display: inline-block;
    background-color:#f7da34;
    color: black;
    border-radius: 5px;
    border: none;
    box-shadow:0 3px 0 #d1b800;
}
#footer{
    padding-top:10px ;
    color: #e0c1c1;
}
a{
    color: #e0c1c1;
}